.table .img-rounded{
    max-width:250px;
}

.filter-black{
    background: #787878;
    background: -moz-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #787878), color-stop(100%, rgba(52, 52, 52, 0.7)));
    background: -webkit-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
    background: -o-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
    background: -ms-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
    background: linear-gradient(to bottom, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
    opacity: 1;
    padding:2px;
}